In [6]:
#If Else
num=23
if num > 0:
    print('Positive Number')
else:
    print('Negative Number')

Positive Number

In [11]:
#Elif (Intedition is compulsory)
num= 0
if num==0:    #Compulsory
    print('It is Zero')
elif num>0:   #Optional, Repeatable
    print('Positive Number') 
else:         #Optional, Repeatable
    print('Negative Number')

It is Zero

In [16]:
#Program to find whether the no. is odd or even
num=int(input('Enter the Number:'))
if num==0:
    print('It is Zero')
elif num % 2==0:
    print('Even Number')
else:
    print('Odd Number')

Enter the Number:26
Even Number

In [ ]:
#Nested If-Else
#Program to find the largest Number
num1= int(input('Enter First:'))
num2= int(input('Enter Second:'))
num3= int(input('Enter Third:'))
if num1 > num3: 
    if num1  > num2:
        print('largest is',num1)
    else:
        print('largest is',num3)
else:
    if num2 > num3:
        print('largest is',num2)
    else:
        print('largest is',num3)

In [4]:
marks =float(input('Enter the marks:'))
if marks>= 75:
    print('Distinstion')
elif marks>=60:
    print('First Class')
elif marks>= 50:
    print('Second Class')
elif marks>=40:
    print('Pass Class')
else:
     print('Failed')

Enter the marks:78
Distinstion

In [9]:
#Menu Based Program
num= int(input('Enter the Number: '))
print("*Menu*\n1.Square\n2.Cube\n3.Odd\n4.+ve")
nk=int(input('Enter the Number: '))
if nk==1:
    print("Square",num*num)
elif nk==2:
    print('Cube',num*num*num)
elif nk==3:
    if num%2==0:
        print('Even')
    else:
        print('Odd')
elif ch==4:
    if num>0:
        print("+ve")
    else:
        print("-ve")
else:
        print('Wrong Choice')

Enter the Number: 5
*Menu*
1.Square
2.Cube
3.Odd
4.+ve
Enter the Number: 2
Cube 125

In [9]:
#For Loops
for n in 1,6,7,8,4:
     print(n,end='')

16784

In [13]:
for n in 1,6,7,8,4:   
     print(n*n, end='')

136496416

In [15]:
for n in 'h',23,3.12,12:
    print(n,end='')

h233.1212

In [17]:
#Range Function
arr=range(10)
list(arr)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
arr=range(1,6)             #(Read as 1 to 6) which will always print(n-1) when in range
list(arr)

[1, 2, 3, 4, 5]

In [19]:
arr=range(1,12,2)               #(Read as 1 to 12 with increment of 2 ie;(1,12,2))
list(arr)

[1, 3, 5, 7, 9, 11]

In [22]:
arr=range(12,1,-2)               #(Read as 1 to 12 with decrement of 2 ie;(1,12,-2))
list(arr)

[12, 10, 8, 6, 4, 2]

In [26]:
for x in range(10):
     print(x,end='')

0123456789

In [28]:
for x in range(1,10,2):
      print(x,end='')

13579

In [4]:
X = "I am NK"
for data in X :
    print(data,end='')

I am NK

In [5]:
sol=['Mar,Hin,Sans,Tel,Tam']
for name in sol:
    print(sol)

['Mar,Hin,Sans,Tel,Tam']

In [6]:
#Else statement in For Loop
for x in range(10):
    print(x,end ='')
else:
    print('Loop Ended')

0123456789Loop Ended

In [9]:
for n in range(10):
    print("NK THE KING")

NK THE KING
NK THE KING
NK THE KING
NK THE KING
NK THE KING
NK THE KING
NK THE KING
NK THE KING
NK THE KING
NK THE KING

In [13]:
#Addition of fisrt 10 Numbers using For Loop
add=0
for n in range(1,11):
    add+=n
else:
    print("SUM",add)

SUM 55

In [14]:
#Addition of Odd Numbers 1 to 20 using For Loop
add=0
for n in range(1,21,2):
    add += n
else:
    print('Sum:',add)

Sum: 100

In [19]:
#Nesting of Loop
for i in range(1,6):
    for j in range(i):
         print("$",end='')
    print()

$
$$
$$$
$$$$
$$$$$

In [25]:
#Break Statement
for i in range(10):
    if i==1:
        break

In [29]:
#Continue Statement
for i in range(10):
    if i%2==0:
        continue
    print(i,end= '')

13579

In [ ]:
#Pass Statement
while True:
    pass