In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
data=pd.read_csv("C:\\Users\\Admin\\golf_df.csv")

In [12]:
data.head()

    Outlook Temperature Humidity  Windy Play
0     sunny         hot     high  False   no
1     sunny         hot     high   True   no
2  overcast         hot     high  False  yes
3     rainy        mild     high  False  yes
4     rainy        cool   normal  False  yes

In [13]:
data.columns

Index(['Outlook', 'Temperature', 'Humidity', 'Windy', 'Play'], dtype='object')

In [14]:
data['Outlook'].unique()

array(['sunny', 'overcast', 'rainy'], dtype=object)

In [16]:
out={'sunny':0,'overcast':1,'rainy':2}
data['Outlook']=data['Outlook'].map(lambda x : out[x])

In [17]:
data.head()

   Outlook Temperature Humidity  Windy Play
0        0         hot     high  False   no
1        0         hot     high   True   no
2        1         hot     high  False  yes
3        2        mild     high  False  yes
4        2        cool   normal  False  yes

In [20]:
data.Temperature

0      hot
1      hot
2      hot
3     mild
4     cool
5     cool
6     cool
7     mild
8     cool
9     mild
10    mild
11    mild
12     hot
13    mild
Name: Temperature, dtype: object

In [22]:
temp={'hot':0,'mild':1,'cool':2}
data['Temperature']=data['Temperature'].map(lambda x : temp[x])

In [23]:
data.head()

   Outlook  Temperature Humidity  Windy Play
0        0            0     high  False   no
1        0            0     high   True   no
2        1            0     high  False  yes
3        2            1     high  False  yes
4        2            2   normal  False  yes

In [26]:
data.Temperature

0     0
1     0
2     0
3     1
4     2
5     2
6     2
7     1
8     2
9     1
10    1
11    1
12    0
13    1
Name: Temperature, dtype: int64

In [28]:
data['Humidity'].unique()

array(['high', 'normal'], dtype=object)

In [29]:
data['Humidity']=data['Humidity'].map(lambda x : 0 if x=='High' else 1)

In [30]:
data.head()

   Outlook  Temperature  Humidity  Windy Play
0        0            0         1  False   no
1        0            0         1   True   no
2        1            0         1  False  yes
3        2            1         1  False  yes
4        2            2         1  False  yes

In [35]:
data['Windy'].unique()

array([False,  True])

In [36]:
data['Windy']=data['Windy'].map(lambda x : 0 if x=='False' else 1)

In [37]:
data.head()

   Outlook  Temperature  Humidity  Windy Play
0        0            0         1      1   no
1        0            0         1      1   no
2        1            0         1      1  yes
3        2            1         1      1  yes
4        2            2         1      1  yes

In [39]:
data['Play']=data['Play'].map(lambda x : 0 if x=='no' else 1)
data.head()

   Outlook  Temperature  Humidity  Windy  Play
0        0            0         1      1     1
1        0            0         1      1     1
2        1            0         1      1     1
3        2            1         1      1     1
4        2            2         1      1     1

In [40]:
# Decision Tree
from sklearn.tree import DecisionTreeClassifier

In [43]:
model= DecisionTreeClassifier()

In [50]:
#model.fit(data.iloc[:,1:5],data.iloc[:,5])