To build FP growth :
       1] at each step candidate set is formed
       2] for making candidate step algorithm repeatedly scans the database

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
from mlxtend.frequent_patterns import fpgrowth
from mlxtend.preprocessing import  TransactionEncoder

In [6]:
data= [
    ['milk','onions','beans'],
    ['milk','onions'],
    ['onions','egg', 'yoghurt']
]

In [7]:
te= TransactionEncoder()

In [8]:
te_arry= te.fit(data).transform(data)

In [11]:
df= pd.DataFrame(te_arry,columns= te.columns_)

In [12]:
df

   beans    egg   milk  onions  yoghurt
0   True  False   True    True    False
1  False  False   True    True    False
2  False   True  False    True     True

In [14]:
fpgrowth(df,min_support=0.6)

    support itemsets
0  1.000000      (3)
1  0.666667      (2)
2  0.666667   (2, 3)