In [1]:
#Dataset:Divorse.csv

In [2]:
import pandas as pd

In [9]:
df=pd.read_csv('divorce.csv',sep=';')
df

,Atr1,Atr2,Atr3,Atr4,Atr5,Atr6,Atr7,Atr8,Atr9,Atr10,...,Atr46,Atr47,Atr48,Atr49,Atr50,Atr51,Atr52,Atr53,Atr54,Class
0,2,2,4,1,0,0,0,0,0,0,...,2,1,3,3,3,2,3,2,1,1
1,4,4,4,4,4,0,0,4,4,4,...,2,2,3,4,4,4,4,2,2,1
2,2,2,2,2,1,3,2,1,1,2,...,3,2,3,1,1,1,2,2,2,1
3,3,2,3,2,3,3,3,3,3,3,...,2,2,3,3,3,3,2,2,2,1
4,2,2,1,1,1,1,0,0,0,0,...,2,1,2,3,2,2,2,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,0,0,0,0,0,0,0,0,0,0,...,1,0,4,1,1,4,2,2,2,0
166,0,0,0,0,0,0,0,0,0,0,...,4,1,2,2,2,2,3,2,2,0
167,1,1,0,0,0,0,0,0,0,1,...,3,0,2,0,1,1,3,0,0,0
168,0,0,0,0,0,0,0,0,0,0,...,3,3,2,2,3,2,4,3,1,0
169,0,0,0,0,0,0,0,1,0,0,...,3,4,4,0,1,3,3,3,1,0

In [10]:
df.shape

(170, 55)

In [16]:
x=df.drop('Class',axis=1)
y=df['Class']

In [18]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=0,test_size=0.25,stratify=y)

In [22]:
from sklearn.linear_model import Perceptron
clf=Perceptron()
clf.fit(x_train,y_train)

Perceptron()

In [35]:
y_pred=clf.predict(x_test)
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report
accuracy_score(y_test,y_pred)

0.9767441860465116

In [37]:
confusion_matrix(y_test,y_pred)

array([[22,  0],
       [ 1, 20]], dtype=int64)

In [39]:
df=pd.read_csv('banknotes.csv')

In [41]:
df.shape

(1372, 5)

In [43]:
x=df.drop('Class',axis=1)
y=['Class']

In [44]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=0,test_size=0.25,stratify=y)

ValueError: Found input variables with inconsistent numbers of samples: [1372, 1]