In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('salary.csv')

In [3]:
data

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [4]:
X=data['YearsExperience'].values
X=X.reshape(-1,1)

In [5]:
Y=data['Salary']

In [6]:
from sklearn.linear_model import LinearRegression

In [7]:
regressor= LinearRegression()

In [8]:
regressor.fit(X,Y)

LinearRegression()

In [9]:
print('Accuracy:', np.round(regressor.score(X,Y)*100,3))

Accuracy: 95.696

In [10]:
# Polynomial Regression
from sklearn.preprocessing import PolynomialFeatures

In [11]:
poly= PolynomialFeatures(degree=3)

In [12]:
Xp=poly.fit_transform(X)

In [13]:
regressor.fit(Xp,Y)

LinearRegression()

In [14]:
Xp

array([[1.000000e+00, 1.100000e+00, 1.210000e+00, 1.331000e+00],
       [1.000000e+00, 1.300000e+00, 1.690000e+00, 2.197000e+00],
       [1.000000e+00, 1.500000e+00, 2.250000e+00, 3.375000e+00],
       [1.000000e+00, 2.000000e+00, 4.000000e+00, 8.000000e+00],
       [1.000000e+00, 2.200000e+00, 4.840000e+00, 1.064800e+01],
       [1.000000e+00, 2.900000e+00, 8.410000e+00, 2.438900e+01],
       [1.000000e+00, 3.000000e+00, 9.000000e+00, 2.700000e+01],
       [1.000000e+00, 3.200000e+00, 1.024000e+01, 3.276800e+01],
       [1.000000e+00, 3.200000e+00, 1.024000e+01, 3.276800e+01],
       [1.000000e+00, 3.700000e+00, 1.369000e+01, 5.065300e+01],
       [1.000000e+00, 3.900000e+00, 1.521000e+01, 5.931900e+01],
       [1.000000e+00, 4.000000e+00, 1.600000e+01, 6.400000e+01],
       [1.000000e+00, 4.000000e+00, 1.600000e+01, 6.400000e+01],
       [1.000000e+00, 4.100000e+00, 1.681000e+01, 6.892100e+01],
       [1.000000e+00, 4.500000e+00, 2.025000e+01, 9.112500e+01],
       [1.000000e+00, 4.900000e+00, 2.401000e+01, 1.176490e+02],
       [1.000000e+00, 5.100000e+00, 2.601000e+01, 1.326510e+02],
       [1.000000e+00, 5.300000e+00, 2.809000e+01, 1.488770e+02],
       [1.000000e+00, 5.900000e+00, 3.481000e+01, 2.053790e+02],
       [1.000000e+00, 6.000000e+00, 3.600000e+01, 2.160000e+02],
       [1.000000e+00, 6.800000e+00, 4.624000e+01, 3.144320e+02],
       [1.000000e+00, 7.100000e+00, 5.041000e+01, 3.579110e+02],
       [1.000000e+00, 7.900000e+00, 6.241000e+01, 4.930390e+02],
       [1.000000e+00, 8.200000e+00, 6.724000e+01, 5.513680e+02],
       [1.000000e+00, 8.700000e+00, 7.569000e+01, 6.585030e+02],
       [1.000000e+00, 9.000000e+00, 8.100000e+01, 7.290000e+02],
       [1.000000e+00, 9.500000e+00, 9.025000e+01, 8.573750e+02],
       [1.000000e+00, 9.600000e+00, 9.216000e+01, 8.847360e+02],
       [1.000000e+00, 1.030000e+01, 1.060900e+02, 1.092727e+03],
       [1.000000e+00, 1.050000e+01, 1.102500e+02, 1.157625e+03]])