In [2]:
# Function
def show():     # def used for function call
    print('Hello World')
show()

Hello World

In [4]:
def square(x):
    y= x*x
    print("Square:",y)
num=int(input('Enter number :'))
square(num) # Variable argument
square(1926) # Constant argument

Enter number :74
Square: 5476
Square: 3709476

In [6]:
# Function returning values
num= int(input('Enter number:'))
def square(x):
    y=x*x
    return y
def cube(x):
    y= x* square(x)
    return y
print('Square is',square(num))
a= cube(num)
print('Cube is',a)
#print('Cube is', num*square(num))

Enter number:1926
Square is 3709476
Cube is 7144450776

In [8]:
#Default Parameters
def mul(x=2,y=5,z=10):
    result=x*y*z
    return result 
print('Multi is',mul(12,36,6))
print('Multi is',mul(12,3))
print('Multi is',mul(12))
print('Multi is',mul())
print('Multi is',mul(z=2,y=3,x=7))

Multi is 2592
Multi is 360
Multi is 600
Multi is 100
Multi is 42

In [9]:
def array(n):
    add=0
    for x in n:
        add+=x
    avg=add/len(n)
    return add, avg
arr=[43,65,76,11.0,23,67,82]
a,b= array(arr)
print("Addition is",a)
print('Average is %.2f' %b)

Addition is 367.0
Average is 52.43

In [12]:
# call ny themselves----> recursion
def factorial(n):
    if n<=1: 
        return 1
    else:
        return n* factorial(n-1)
num=int(input('Enter the Number :'))
print('Factorial is', factorial(num))

Enter the Number :26
Factorial is 403291461126605635584000000

In [13]:
# Variable length Arguments
def show(*args):
    for a in args:
        print(a)
show(1,2,3)
show('x','y',11,True)


def display(**kwargs):
    for a in kwargs:
        print(a,kwargs[a])
 # Display the function
display(name='Gayatri',age=18)
display(pi=3.26)

1
2
3
x
y
11
True
name Gayatri
age 18
pi 3.26

In [26]:
# anonymous functions-- defined without keyword def but rather lambda
#lambda arguments : expression
square= lambda x:x ** 2
print(square(12))

144

In [24]:
seq=[0,11,2,3,5,8,13]
result = filter(lambda x:x>5,seq)    # Numbers greater than 5
print(list(result))

[11, 8, 13]

In [25]:
result=filter(lambda x:x %2==0,seq) # Numbers which are even
print(list(result))

[0, 2, 8]

In [27]:
# map function
def square(n):
    return n*n
# we square all numbers using map()
numbers=(1,2,3,4)
result= map(square,numbers)
print(list(result))
#Lists of Strings
l=['sat','bat','cat','mat']
test= map(list,l)
print(list(test))

[1, 4, 9, 16]
[['s', 'a', 't'], ['b', 'a', 't'], ['c', 'a', 't'], ['m', 'a', 't']]

In [34]:
# Global keyword
c=0
def add():
    global c
    c=c+2 # increment by 2
    add()
    print ('In Main :', c)

In [35]:
# Modules in Python -- used to categorise code in Python into smaller parts
# import
# import as
# from import
import math
print(math.sin(67))

-0.8555199789753223

In [36]:
print(math.log(1926))

7.563200592358071

In [37]:
print(math.sqrt(45))

6.708203932499369

In [38]:
print(math.pi)

3.141592653589793

In [39]:
print(math.e)

2.718281828459045

In [41]:
# import using alias
import math as m
print(m.sin(90))

0.8939966636005579

In [42]:
print(m.log(90))

4.499809670330265

In [43]:
print(m.sqrt(90))

9.486832980505138

In [44]:
print(m.pi)

3.141592653589793

In [45]:
print(m.e)

2.718281828459045

In [46]:
from math import sin,log,pi
print(sin(120))

0.5806111842123143

In [47]:
print(log(45))

3.8066624897703196

In [48]:
print(pi)

3.141592653589793

In [49]:
from math import *
print(cos(45))

0.5253219888177297

In [50]:
print(e)

2.718281828459045

In [74]:
num=12
print(num)

def factorial(n):
    if n <= 1:
        return 1
    else:
        return n * factorial(n-1)

def hello(s):
    print('Hello', s)

name = 'Nk EMIPIRE'

import fact as f
print(f.factorial)
f.hello('NK')
print(f.name)

12