In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
# y=mx+c
# Salary=
data= pd.read_csv("C:\\Users\\Admin\\salary - Copy.csv")

In [9]:
data.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [10]:
data

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [11]:
data.shape

(30, 2)

In [14]:
X= data.iloc[:,[0]]

In [15]:
X.shape

(30, 1)

In [31]:
y=data.iloc[:,1]

In [32]:
y
# plt.plot(X,y)

0      39343.0
1      46205.0
2      37731.0
3      43525.0
4      39891.0
5      56642.0
6      60150.0
7      54445.0
8      64445.0
9      57189.0
10     63218.0
11     55794.0
12     56957.0
13     57081.0
14     61111.0
15     67938.0
16     66029.0
17     83088.0
18     81363.0
19     93940.0
20     91738.0
21     98273.0
22    101302.0
23    113812.0
24    109431.0
25    105582.0
26    116969.0
27    112635.0
28    122391.0
29    121872.0
Name: Salary, dtype: float64

In [33]:
# training
from sklearn.model_selection import train_test_split

In [34]:
X_train,X_test,y_train,y_test= train_test_split(X,y,test_size=0.3,random_state=0)

In [35]:
X_train.shape

(21, 1)

In [36]:
X_test.shape

(9, 1)

In [37]:
# working on model
from sklearn.linear_model import LinearRegression

In [38]:
lr= LinearRegression()

In [39]:
lr.fit(X_train,y_train)

LinearRegression()

In [40]:
# y = mx + c
print('c->',lr.intercept_)

c-> 26777.39134119764

In [41]:
print('m->',lr.coef_)

m-> [9360.26128619]

In [42]:
y_pred= lr.predict(X_test)

In [43]:
y_pred

array([ 40817.78327049, 123188.08258899,  65154.46261459,  63282.41035735,
       115699.87356004, 108211.66453108, 116635.89968866,  64218.43648597,
        76386.77615802])

In [44]:
y_test

2      37731.0
28    122391.0
13     57081.0
10     63218.0
26    116969.0
24    109431.0
27    112635.0
11     55794.0
17     83088.0
Name: Salary, dtype: float64

plt.plot(X_test,y_test,'rx')
plt.plot(X_test,y_pred,c='black')

In [46]:
from sklearn import metrics

In [47]:
print(metrics.mean_absolute_error(y_test,y_pred))

3737.4178618788987

In [48]:
from sklearn.metrics import mean_squared_error

In [50]:
print(mean_squared_error(y_test,y_pred))

23370078.800832972