In [1]:
print('Hello World')

Hello World

In [2]:
num1=45
num2=56
print(num1)

45

In [3]:
num3=1926
print(num3)

1926

name='NK'
print(name)

In [4]:
name='NK' 
print(name)

NK

In [5]:
num=23
type(num)

int

In [6]:
num+10

33

In [9]:
num**1000

534362554845387984429285717632078264404288886701292664674348522803815713962719368388235666590605403677248156163757205903151663471252295262323428554065966415119622859595311765695862653081931610727643220493235980821067016368596072933871898558447311260924172452892154994718383894837560902079215434740406586067213948236319846971454630912532664174303743711065026766611328884448241698834673057727410176920463272481071110614520981385979622714871558146978674186608922401845176115263154524360989762752964387193869798200475394349488330738864555948027101595246612784073865855211779163799776897551488316148055324599120037091729264355737502650438134597631978363640183648542025849814482994659139982520532615470431227895343047487431398063671068137021202741283977918697421562827307287757095088143275997734455443252789856625079352313256367028049552390678654760506344512196496528709277797277493931755363058736709353460070871445241744376336608530426787624136625688526119133159450990063433974287582908305244200774830116288326128099340057046181432100217642781322503003229892736183887814961311563087865136900075349183688294886983672488126230751923378053718980772724415188844804513035348819398467905119902101998014333916472260923120653298671929918745244387797987466310871755402142469270718693734764580297770247364464159723408761558993632966934277763892076802667575778825233237218760001

In [10]:
num=59.33
print(num)

59.33

In [11]:
num= 5933e18
print(num)

5.933e+21

In [12]:
type(num)

float

In [13]:
num*11.43

6.781419e+22

In [15]:
num1= 4.233e221
num2=12.322e212
num*num

3.5200488999999996e+43

In [16]:
num=0o123
print(num)

83

In [17]:
num= 0x123
print(num)

291

In [18]:
num=0b101
print(num)

5

In [23]:
num1=num2=num3=11
print(num1)

11

In [24]:
print(num2)

11

In [25]:
print(num3)

11

In [26]:
num1,num2,num3=19,26,1926
print(num1)
print(num2)
print(num3)

19
26
1926

In [28]:
num1=19; num1=num1+7; print(num1)

26

In [29]:
name='Hello World'
print(name)

Hello World

In [30]:
name="Hello world"
print(name)

Hello world

In [31]:
type(name)

str

In [32]:
data='Learning "Python" is fun'
print(data)

Learning "Python" is fun

In [33]:
data="Learning 'Python' is fun "
print(data)

Learning 'Python' is fun

In [36]:
first=' Python'         #Combining 2 strings
second='Programming'
last = first + second
print(last)

 PythonProgramming

In [37]:
print(first + second)

 PythonProgramming

In [38]:
print('Python'+'Programming')

PythonProgramming

In [40]:
#Escape sequences
print('Hello \nWorld')  #Line below Line

Hello
World

In [42]:
print('Hello \bWorld')

Hello World

In [43]:
print('Hello\r World')

 World

In [44]:
print('Hello \\ World')

Hello \ World

# num=34

In [46]:
>>> line= '''Hello
.... Welcome to NK Empire'''
print(line)

Hello
.... Welcome to NK Empire

In [48]:
'''This is my revision'''
num1= 45
num2= 55
result=(45+55)
print(result)

100

In [49]:
data='hello'   
data.upper()    #Upper for Capital Letter

'HELLO'

In [51]:
data.isalpha()  #checking whether  it is alphabet or not

True

In [52]:
data.split()  # turning capital to small

['hello']

In [53]:
data.startswith('he')  # confirming from which the data starts

True

In [54]:
data.replace('e','a')  #replacing letters

'hallo'

In [56]:
#Unicode String
s= u'\u0937'
print(s)

ष

In [57]:
s= u'\u0756'    #Format for different letters 🔤 
print(s)

ݖ

In [58]:
s=u'\u0567'
print(s)

է

In [59]:
# Dir() returns all properties and methods of specified object
future="Hello NK The things are going to happen in your favour"
dir(future)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [60]:
help(data.upper) # Object Function
help(len) # basic function

Help on built-in function upper:

upper() method of builtins.str instance
    Return a copy of the string converted to uppercase.

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [62]:
#Print function --> prints given object to standard output device
# print(*objects, sep='', end='\n')
name='NK'
age='18'
print('My name is',name,'and age is',age)

My name is NK and age is 18

In [66]:
print('My name is {} and age is {}' .format(name,age)) # defining variable outside

My name is NK and age is 18

In [67]:
print('My name is',name)

My name is NK

In [68]:
print('My name is',name, end='\n\n')

My name is NK

In [69]:
print(name,age)

NK 18

In [70]:
print(name,age,sep='\t')

NK	18

In [71]:
print(name,age,sep='\n')

NK
18

In [76]:
# format() ----> positional and keyword parameters
'''Hello{0} your balance is {1:9.3f}. format(Adam, 230.2346) here 0 is adam and 1 is the value'''
name='NK'
age='27'
print('Hello {} ,your age is {}.'. format(name, age))
# positional arguments
print('Hello {0} ,your age is {1}.'.format(name,age))

# keyword arguments
print('Hello {x} , your age is{y}.'.format(x=name,y=age))

#Mixed arguments
print("Hello {0} , your age is {y}.". format(name, y=age))

Hello NK ,your age is 27.
Hello NK ,your age is 27.
Hello NK , your age is27.
Hello NK , your age is 27.

In [77]:
# Arithmetic  Operators
num1=19; num2= 11
result= num1+num2
print(result)

30

In [78]:
num1-num2

8

In [79]:
num1*num2

209

In [80]:
num1/num2

1.7272727272727273

In [81]:
num1//num2

1

In [82]:
num1 % num2

8

In [83]:
# operations on strings
name='NK'
name*5

'NKNKNKNKNK'

In [84]:
num1>num2

True

In [85]:
num1<= num2

False

In [86]:
num1== num2

False

In [87]:
num1!= num2

True

In [89]:
'ABC' != 'AbC'
'ABC' == 'AbC'
'ABC' < 'AbC'
'ABC' > 'AbC'

False

In [90]:
'ABC' == 'AbC'

False

In [91]:
'ABC' < 'AbC'

True

In [92]:
'ABC' > 'AbC'

False

In [93]:
#Assignment Operators
print(num1)

19

In [96]:
num1 +=2
print(num1)

25

In [97]:
num1/= 2
print(num1)

12.5

In [99]:
num1 *=2
print(num1)

25.0

In [100]:
#Logical Operators
num1>num2 and num1<100

True

In [101]:
num1>100 or num1== num2

False

In [103]:
not num1<100

False

In [105]:
# Membership Operators
'''in and not in checks whether  the value is present is member of sequence'''
x=10
x in [34,10,32,17]

True

In [106]:
15 in [34,10,32,17]

False

In [107]:
15 not in [ 34,10,32,17]

True

In [108]:
'kar' in 'Tendulkar'

True

In [109]:
#Identity Operators  (is)& (is not)
2 is 2

<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\Admin\AppData\Local\Temp\ipykernel_24472\303109974.py:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
  2 is 2

True

In [110]:
2 is '2'

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\Admin\AppData\Local\Temp\ipykernel_24472\1162160561.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  2 is '2'

False

In [111]:
20 is 20.0

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\Admin\AppData\Local\Temp\ipykernel_24472\4191586626.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  20 is 20.0

False

In [112]:
2000.0 is 2e3

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\Admin\AppData\Local\Temp\ipykernel_24472\909634102.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  2000.0 is 2e3

True

In [115]:
# Bitwise Operators
x = 19 ; y= 34
x & y  # AND

2

In [117]:
x|y    # OR

51

In [118]:
x^y #XOR

49

In [119]:
y<<2    # Binary left shift (^)

136

In [120]:
~x       # Binary One's Complement

-20

In [121]:
# Complex Type
num=2.3+4.5j
print(num)

(2.3+4.5j)

In [122]:
type(num)

complex

In [123]:
# Boolean
num = True
print(num)

True

In [124]:
type(num)

bool

In [125]:
num= None
print(num)

None

In [126]:
type(num)

NoneType

In [128]:
# Process of converting one data type to other is Type Conversion
num1 = 45 # int
num2 = 56.3 # float
result= num1+ num2
print(result) #Float

101.3

In [129]:
# Explict type conversion--> converting data by using predefined functions 
# Like  int()  float()  str() etc also called [typecasting]
num1= 19
num2= 56.23
result= num1 + int(num2)
print(result)

75

In [132]:
num='178'
num*3

'178178178'

In [133]:
 int(num)*3

534

In [134]:
num=123
s='hello' + str(num)
s

'hello123'

In [135]:
#ADDITION
num1 = 19
num2=26
result= 19+26
print(result)

45

In [136]:
# User Input
s= input('Enter Your Name :')
num= int(input('Enter Your Wife Birthday'))
marks= float(input('Enter marks :'))

Enter Your Name :NK
Enter Your Wife Birthday19
Enter marks :100

In [138]:
num1= int(input('Enter first :'))
num2= int(input('Enter Second :'))
result= num1+num2
print('Adiition is',result )

Enter first :19
Enter Second :26
Adiition is 45

In [142]:
# Conditional Statements
num= 1926
if num>0:
    print('Positive Number')
else:
    print('Negative Number')

Positive Number

In [146]:
# if-elif-else
num= 1926
if num ==0 : # Compulsory
     print('It is Zero')
elif num>0 :
    print('Positive number')
else :
    print('Negative Number')

Positive number

In [153]:
num1= int(input('Enter first:'))
num2= int(input('Enter Second :'))
num3= int(input("Enter third :"))
if num1> num2:
    if num1> num3:
        print('Largest is',num1)
    else:
        print('Largest is',num3)
else:
    if num2>num3:
        print('Largest is',num2)
    else:
        print('Largest is',num3)

Enter first:19
Enter Second :26
Enter third :12
Largest is 26

In [163]:
# Leap Year
year= int(input('Enter the year :'))
if year % 4 == 0:
    if year % 100 ==0:
        if year % 400 ==0:
            print('Leap')
        else:
            print('Not Leap')
    else:
        print('Leap')
else:
    print('Not Leap')
year = int(input('Enter the year :'))
if year % 4==0 and year % 100 !=0 or year % 400 == 0:
    print('Leap')
else:
    print('Not Leap')

Enter the year :2023
Not Leap
Enter the year :2024
Leap

In [166]:
# Elif with marks problem
marks= float(input('Enter the marks :'))
if marks>= 75:
    print('Distinction')
elif marks >= 60:
    print('First Class')
elif marks >= 50:
    print('Second Class')
elif marks >= 40:
    print('Pass Class')
else:
    print('Failed')

Enter the marks :100
Distinction

In [172]:
# Another Way
marks= float(input('Enter the marks :'))
if marks <40:
    print('Failed')
elif marks < 50 :
    print('Pass Class')
elif marks< 75:
    print('Second Class')
elif marks<75:
     print('First Class')
else:
    print('Distinction')

Enter the marks :100
Distinction

In [175]:
# Menu Based Programs (if-elif-else)
num= int(input('Enter the Number :'))
print("*Menu *\n1.Square\n2.Cube\n3.Odd\n4.+ve")
ch= int(input('Enter the choice:'))
if ch == 1:
    print('Square:', num*num)
elif ch==2:
    print('Cube :', num* num * num)
elif ch==3:
    if num% 2==0:
        print('Even')
    else:
        print('Odd')
elif ch==4:
    if num > 0 :
        print('+ve')
    else:
        print('-ve')
else:
    print('Wrong Choice')

Enter the Number :1926
*Menu *
1.Square
2.Cube
3.Odd
4.+ve
Enter the choice:1
Square: 3709476

In [176]:
# Loops
count= 0    #Initilise
while count <10:    #condition
    print('NK')  
    count +=1     # Change Counter

NK
NK
NK
NK
NK
NK
NK
NK
NK
NK

In [178]:
# Addiion of first 10 Natural Numbers
count, add=1,0
while count <= 10:
    add = add+ count
    count +=1
else:
    print('Addition is', add)

Addition is 55

In [179]:
count , add= 1,0
while count <= 20:
    add=add+count
    count +=2
else:
    print('Addition is', add)

Addition is 100

In [ ]:
# While loop the only lopp where we can make it infinite
num=0
while num<10:
    print(num)
print('Ended')
while True :
    print('NK')

In [184]:
num=0
while num<10:
    print(num)
    num+=1
else:
    print('Ended')

0
1
2
3
4
5
6
7
8
9
Ended

In [185]:
 num= 0
while num < 10 : print(num); num +=1

0
1
2
3
4
5
6
7
8
9

In [187]:
# For Loop  syntax-- [for n in sequence]
for n in 1,6,7,8,4:   #Same Sequence
    print(n,end ='')

16784

In [188]:
for n in 1,6,7,8,4:     #Operation Data
    print(n*n,end='')

136496416

In [189]:
for n in 'h',23,3.12,12:   #Mixed Elements
    print(n,end = '')

h233.1212

In [190]:
# Range() Function
arr = range(10)  # Simply means till 10 but not including it
list(arr)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [191]:
arr= range(1,6)
list(arr)

[1, 2, 3, 4, 5]

In [192]:
arr= range(1,12,2)
for x in range(10) :
    print(x,end='')

0123456789

In [193]:
for x in range(1,10,2) :
    print(x,end = '')

13579

In [194]:
arr= range(12,2,-2)
list(arr)

[12, 10, 8, 6, 4]

In [195]:
x=[4,7,9,1,5]   #list 
for num in x:
    print(num, end="")

47915

In [197]:
s='NK'
for data in s:
    print(data,  end = '')

NK

In [198]:
col =['Mar','Hin','San','Nep']
for name in col:
    print(name)

Mar
Hin
San
Nep

In [199]:
# Else STATEMENT
for x in range(10) :
    print(x,end='')
else :
    print('Loop Ended')

0123456789Loop Ended

In [200]:
for n in range(10):
    print('NK')

NK
NK
NK
NK
NK
NK
NK
NK
NK
NK

In [202]:
# Addition of first 10 natural numbers using for loop
add=0
for n in range(1,11):
    add += n
else:
    print('Sum :',add)

Sum : 55

In [204]:
add = 0
for n in range(1,21,2):
    add+=n
else:
    print('Sum :',add)

Sum : 100

In [207]:
#Nesting Loops
for i in range(1,6):
    for j in range(i):
        print("@", end='')
    print()

@
@@
@@@
@@@@
@@@@@

In [211]:
#Break
for i in range(10):
    if i==5:
        break

In [213]:
# Continue
for i in range(10):
    if i % 2 ==0:
        continue
    print(i,end='')

13579

In [215]:
# pass statement [no operation]
num=12
print(num)

while True:
    pass

12

In [216]:
# Data Structures []--- List ()--- Tuple {}-- set  {:}- dictionary
# Lists
# Creation
lang=['Mar','Urd','San','Guj','Hin']
type(lang)

list

In [218]:
col=['blue','red','green','yellow']  # similar elements
days=['Mon','Tue','Wed',4,5,6]   # dissimilar elements

In [219]:
print(lang)

['Mar', 'Urd', 'San', 'Guj', 'Hin']

In [220]:
print(lang[2])

San

In [221]:
lang[1]='Kan'   # replacing element on the given index
print(lang)

['Mar', 'Kan', 'San', 'Guj', 'Hin']

In [222]:
print(days)

['Mon', 'Tue', 'Wed', 4, 5, 6]

In [225]:
print(days[-1])  # negative indexing(giving last index)

6

In [226]:
days[-2]='Sat' # replacing given element  from last on given position
print(days)

['Mon', 'Tue', 'Wed', 4, 'Sat', 6]

In [227]:
months =[31,[28,29],31,30]
type(months)

list

In [228]:
months[1]

[28, 29]

In [229]:
months[1][0]

28

In [230]:
num=[23,67,12,48,29,38,19]  # display of elemnts including 2 and excluding 6
num[2:6]

[12, 48, 29, 38]

In [231]:
num[2:] # all elements ahead of 2

[12, 48, 29, 38, 19]

In [232]:
num[:5]  # elements before 5 position

[23, 67, 12, 48, 29]

In [233]:
num[:] # no indexing

[23, 67, 12, 48, 29, 38, 19]

In [234]:
metals=['H','O','He','K','Si','Fe']
metals

['H', 'O', 'He', 'K', 'Si', 'Fe']

In [235]:
metals[2:4]=['Na','S'] # replacing He and K with Ne and S
metals

['H', 'O', 'Na', 'S', 'Si', 'Fe']

In [237]:
'O' in metals

True

In [238]:
'he' in metals

False

In [239]:
'O' not in metals

False

In [240]:
#Deleting Elements
del metals[1]
metals

['H', 'Na', 'S', 'Si', 'Fe']

In [242]:
del metals[1:3]
metals

['H']

In [245]:
mat=[[1,2,3],[5,6,7],[4,[9,8]]]
mat

[[1, 2, 3], [5, 6, 7], [4, [9, 8]]]

In [246]:
mat[2]

[4, [9, 8]]

In [247]:
mat [2][1]

[9, 8]

In [248]:
mat[2] [1]

[9, 8]

In [249]:
mat [2] [1] [0]

9

In [250]:
num=[7,2,5,3,6]
num*2

[7, 2, 5, 3, 6, 7, 2, 5, 3, 6]

In [251]:
num+[4,8]

[7, 2, 5, 3, 6, 4, 8]

In [252]:
num +=[0,9]
num

[7, 2, 5, 3, 6, 0, 9]

In [253]:
num=[7,2,5,3,6]
for n in num :
    if n % 2 !=0:
        print(n,end='')

753

In [255]:
even=[2*i for i in range(1,11)] '''multiplying 2 with numbers 1 to 10'''
even

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [256]:
num=[]  # Empty List
num

[]

In [257]:
type(num)

list

In [258]:
len(num)

0

In [259]:
num=[1,2,3]
x,y,z=num
x

1

In [260]:
y

2

In [261]:
z

3

In [262]:
# Built- in Functions
''' len()  max()   min()   sum() '''
num=[7,2,5,8,6,4,3]
len(num)

7

In [263]:
max(num)

8

In [264]:
min(num)

2

In [265]:
sum(num)

35

In [266]:
sorted(num)

[2, 3, 4, 5, 6, 7, 8]

In [267]:
list('xyz')

['x', 'y', 'z']

In [268]:
data=[0,0,0,0,False]
any(data)

False

In [269]:
data=[0,0,3,0,False]  #checks whether there is a True value or not
any(data)

True

In [270]:
data=[4,7,2,4,6,7]  # checking whether all are same data type values
all(data)

True

In [271]:
data=[4,7,2,4,0,7]
all(data)

False

In [272]:
num=[4,7,2,4,0,7]  # append- inserting elements
num.append(0)
num

[4, 7, 2, 4, 0, 7, 0]

In [273]:
num.insert(1,5) #(index, no to be replaced)
num

[4, 5, 7, 2, 4, 0, 7, 0]

In [274]:
num.remove(5)
num

[4, 7, 2, 4, 0, 7, 0]

In [275]:
x=num.pop() # removing the last element
x

0

In [279]:
num.index(7) # Position of the number

1

In [280]:
num.count(3)

0

In [283]:
num=[7,2,5,8,6,4,3]
num.reverse()   # reversing the data
num

[3, 4, 6, 8, 5, 2, 7]

In [285]:
arr=[]       # 
n= int(input('How many elements?'))
for x in range(n):
    num=int(input('Enter number :'))
    arr.append(num)
    print('List is :',arr)

How many elements?9
Enter number :12
List is : [12]
Enter number :22
List is : [12, 22]
Enter number :19
List is : [12, 22, 19]
Enter number :26
List is : [12, 22, 19, 26]
Enter number :45
List is : [12, 22, 19, 26, 45]
Enter number :1926
List is : [12, 22, 19, 26, 45, 1926]
Enter number :44
List is : [12, 22, 19, 26, 45, 1926, 44]
Enter number :789
List is : [12, 22, 19, 26, 45, 1926, 44, 789]
Enter number :44
List is : [12, 22, 19, 26, 45, 1926, 44, 789, 44]

In [287]:
metals=['gold','copper','silver','iron','aluminuim','copper']
new_metals=[]
for metal in metals:
    if metal != 'copper':
        new_metals.append(metal)
print(new_metals)

['gold', 'silver', 'iron', 'aluminuim']

In [288]:
# Tuples are immutable  unlike lists
per=(67,85,69,72,63)
print(per)

(67, 85, 69, 72, 63)

In [289]:
type(per)

tuple

In [290]:
sample=1,56.34,'NK'
sample

(1, 56.34, 'NK')

In [291]:
type(sample)

tuple

In [292]:
per=(67,85,69,72,63)
per[2]

69

In [293]:
per[2:5]

(69, 72, 63)

In [294]:
per[-2] # second last index

72

In [295]:
num=(7,2,5,8,6,4,3)
len(num)

7

In [296]:
max(num)

8

In [297]:
min(num)

2

In [298]:
sum(num)

35

In [299]:
sorted(num)

[2, 3, 4, 5, 6, 7, 8]

In [301]:
tuple('xyz')

('x', 'y', 'z')

In [303]:
data=(0,0,0,0,False)
any(data)

False

In [304]:
data=(0,0,3,0,False)
any(data)

True

In [305]:
all(data)

False

In [309]:
data=(4,7,9,4,6,7)
all(data)

True

In [307]:
data=(4,7,2,4,6,0)
all(data)

False

In [310]:
per.index(63)    #Returns the index of first apprearance

4

In [311]:
per.count(85)  # Returns frequency of items

1

In [312]:
56 in per

False

In [313]:
81 not in per

True

In [315]:
per+(18,43) # adding 18 and 43 at end

(67, 85, 69, 72, 63, 18, 43)

In [316]:
new=per+(18,43)
new

(67, 85, 69, 72, 63, 18, 43)

In [317]:
for n in per:
    print(n,sep='')

67
85
69
72
63

In [318]:
#Nesting
num=(23,(2,7),11,36)
num[1]

(2, 7)

In [320]:
num[1][0]

2

In [325]:
# Sample list of Tuple
num= int(input('How many students? :'))
stud=[]
for x in range(num):
        roll=int(input('Enter roll :'))
        name=input('Enter name:')
        marks = float(input('Enter marks :'))
stud.append((roll,name,marks))
for x in stud :
    print("%-2d%-10s%-3.2f" %(x[0],x[1],x[2]))

How many students? :2
Enter roll :19
Enter name:GK
Enter marks :99
Enter roll :26
Enter name:NK
Enter marks :100
26NK        100.00

In [351]:
# Dictionary 
d={'a':'apple','b':'ball'}
num={1:25,3:10,5:11}
type(d)

dict

In [352]:
type(num)

dict

In [354]:
num={1:25,3:10,5:11,'x':'data'}
type(num)

dict

In [355]:
d['a']

'apple'

In [356]:
num[3]

10

In [358]:
num[2]=20   # accessing and adding elemnts
num

{1: 25, 3: 10, 5: 11, 'x': 'data', 2: 20}

In [360]:
data=([1,56],[2,49],[6,75])
d= dict(data)
d

{1: 56, 2: 49, 6: 75}

In [361]:
d={1:45,6:23,4:23,6:27}
d

{1: 45, 6: 27, 4: 23}

In [362]:
type(d)

dict

In [363]:
animals={}
type(animals)

dict

In [364]:
animals[1]='dog'
animals[2]= 'cat'
animals[3]= 'ferret'
animals

{1: 'dog', 2: 'cat', 3: 'ferret'}

In [365]:
data = {2:45,5:38,6:11,7:105,9:20} # Key values(coefficient )
data.keys()

dict_keys([2, 5, 6, 7, 9])

In [367]:
data.values()

dict_values([45, 38, 11, 105, 20])

In [368]:
data.items()

dict_items([(2, 45), (5, 38), (6, 11), (7, 105), (9, 20)])

In [369]:
data={9: 20, 2: 45, 5: 38, 6: 11, 7: 105} #1st- key to search 2nd- is to return
data.get(2,1)

45

In [370]:
data.get(4,5)

5

In [371]:
data.get(7,110)

105

In [372]:
''' copy()--> creates copy of python dict and pop()  removes element  where 1st
is the key to be found and 2nd is key to be replaced  while clear is to clear the python dict'''

' copy()--> creates copy of python dict and pop()  removes element  where 1st\nis the key to be found and 2nd is key to be replaced  while clear is to clear the python dict'